header {
    display: flex;
    flex-direction: row;
    height: 690px;
    margin-top: 136px;
    width: 1420px;
    margin: 136px auto 0;
}

.text {
    height: auto;
    margin: 76px 0 132px;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    height: inherit
}

.heading-welcome {
    letter-spacing: 0.03em;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.small-welcome {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
}

.small-name {
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: #FF6300;
}

.title {
    font-size: 100px;
    letter-spacing: 0.03em;
    display: flex;
    flex-direction: column;

    width: 717px;
    color: #000000;
}

.title_part-1 {
    font-size: 100px;
    font-weight: 700;
    line-height: 150px;
    text-align: left;
}

.title_part-2 {
    font-size: 100px;
    font-weight: 700;
    line-height: 150px;
    text-align: right;
}

.description {
    width: 706px;
    font-size: 21px;
    font-weight: 400;
    line-height: 31.5px;
    letter-spacing: 0.03em;
    text-align: justified;
    color: #000000;

    margin-bottom: 29px;
}

.btn {
    background-color: #FF6300;
    color: #fff;
    padding: 10px 20px;
    margin-left: 6px;
    border-radius: 5px;
    bottom: 0;

    height: 52px;
    width: 188px;

    font-size: 21px;
    font-weight: 400;
    line-height: 31.5px;
    letter-spacing: 0.03em;
    text-align: justified;
    text-decoration: none;
}

.photo {
    margin-left: 139px;
}