navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 0;
    gap: 13px;
    width: auto;
    max-width: 1420px;
    margin: 61px auto ;
}

nav ul {
    list-style: none;
    display: flex;
    height: 52px;
}

nav ul li:nth-last-child(2) {
    margin-right: 0;
}


nav ul li:last-child {
    margin-right: 0;
    margin-left: 26px;
}


.logo {
    height: 54px;
    width: 274px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    height: 52px;
}

nav ul li {
    margin: 10px 14px;
}

nav ul li a {
    font-family: Poppins;
    font-size: 21px;
    font-weight: 400;
    line-height: 31.5px;
    letter-spacing: 0.03em;
    text-align: left;

    text-decoration: none;
    color: #333;
}

li {
    list-style-type: none;
}

.cv-button {
    background-color: #FF6300;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}