* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: Poppins;
  font-size: 21px;
  font-weight: 400;
}

body {
  background-color: #fff;
  color: #333;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 0;
  gap: 13px;
  width: auto;
  max-width: 1420px;
  margin: 61px auto ;
}

nav ul {
  list-style: none;
  display: flex;
  height: 52px;
}

nav ul li:nth-last-child(2) {
  margin-right: 0;
}


nav ul li:last-child {
  margin-right: 0;
  margin-left: 26px;
}


.logo {
  height: 54px;
  width: 274px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  height: 52px;
}

nav ul li {
  margin: 10px 14px;
}

nav ul li a {
  font-family: Poppins;
  font-size: 21px;
  font-weight: 400;
  line-height: 31.5px;
  letter-spacing: 0.03em;
  text-align: left;

  text-decoration: none;
  color: #333;
}

.cv-button {
  background-color: #FF6300;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
}

header {
  display: flex;
  flex-direction: row;
  height: 690px;
  margin-top: 136px;
  width: 1420px;
  margin: 136px auto 0;
}

.text {
  height: auto;
  margin: 76px 0 132px;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  height: inherit
}

.heading-welcome {
  letter-spacing: 0.03em;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.small-welcome {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
}

.small-name {
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  color: #FF6300;
}

.title {
  font-size: 100px;
  letter-spacing: 0.03em;
  display: flex;
  flex-direction: column;

  width: 717px;
  color: #000000;
}

.title_part-1 {
  font-size: 100px;
  font-weight: 700;
  line-height: 150px;
  text-align: left;
}

.title_part-2 {
  font-size: 100px;
  font-weight: 700;
  line-height: 150px;
  text-align: right;
}

.description {
  width: 706px;
  font-size: 21px;
  font-weight: 400;
  line-height: 31.5px;
  letter-spacing: 0.03em;
  text-align: justified;
  color: #000000;

  margin-bottom: 29px;
}

.btn {
  background-color: #FF6300;
  color: #fff;
  padding: 10px 20px;
  margin-left: 6px;
  border-radius: 5px;
  bottom: 0;

  height: 52px;
  width: 188px;

  font-size: 21px;
  font-weight: 400;
  line-height: 31.5px;
  letter-spacing: 0.03em;
  text-align: justified;
  text-decoration: none;
}

.photo {
  margin-left: 139px;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 205px;
  list-style-type: none;
  margin-top: 24px;
}

.social li {
  height: 32px;
}

.photo-and-social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-top: 86px;
}

.about-me {
  font-size: 65px;
  font-weight: 600;
  line-height: 97.5px;
  letter-spacing: 0.03em;
  text-align: left;

  color: #000000;
  margin-left: 93px;
}

.description-about {
  width: 706px;
  font-size: 21px;
  font-weight: 400;
  line-height: 31.5px;
  letter-spacing: 0.03em;
  text-align: justified;
  color: #000000;

  margin-top: 15px;
}

.statistics li {
  list-style-type: none;
  height: 76px;
  margin-top: 15px;
}
